<!DOCTYPE html>
<html>
    <head>
      <%- include('partials/head.ejs') %>
      <link rel="stylesheet" href="/css/results.css">

    </head>
    <body>
<!--Navigation & Home Page----------------------------------------------------->
  <header id="find">
    <%- include('partials/nav.ejs') %>
    <div class="black">
          <!--hero img section----------------------------------------------------------->
          <div class="content">
            <section class="inner text-center">
              <h1 id="title"><%= result.recipe.name %></h1>
            </section>
        </div>
      </div>
  </header>
<!-- queried recipes section----------------------------------------------------------->
  
  <div class="container details">
      <div class="panel">
        <h2>Ingredients</h2>
        <ul>
          <% for (var i=0; i < result.recipe.ingredients.length; i++) { %>
            <li><%= result.recipe.ingredients[i] %></li>
          <% } %>
        </ul>
        <h2>Instructions</h2>
        <% for (var i=0; i < result.recipe.instructions.length; i++) { %>
          <p><%= result.recipe.instructions[i] %></p>
        <% } %>
      </div>
  </div>

<!--footer section------------------------------------------------------------->
<%- include('partials/footer.ejs') %>
</body>
</html>
