<!DOCTYPE html>
<html>
    <head>
      <%- include('partials/head.ejs') %>
      <link rel="stylesheet" href="/css/results.css">

    </head>
    <body>
<!--Navigation & Home Page----------------------------------------------------->
  <header id="find">
    <%- include('partials/nav.ejs') %>
    <div class="black">
          <!--hero img section----------------------------------------------------------->
          <div class="content">
            <section class="inner text-center">
            <% if (typeof ret == 'object' && ret) { %>
              <h1 id="title"><%= ret.name %></h1>
            <% } else { %>
              <h1 id="title"><%= single[0].title %></h1>
            <% } %>
          </section>
        </div>
      </div>
  </header>
<!-- queried recipes section----------------------------------------------------------->
  
  <div class="container details">
      <div class="panel">
          <h2>Instructions</h2>
          <% if (typeof ret == 'object' && ret) { %>
            <% ret.instructions.forEach( (item) => { %>
              <p><%= item %></p>
            <% }) %> 
          <% } else { %>
            <p><%= single[0].instructions %></p>
          <% } %>

          <h2>Ingredients</h2>
          <% if (typeof ret == 'object' && ret) { %>
            <ul>
              <% ret.ingredients.forEach( (item) => { %>
                <li><%= item %></li>
              <% }) %> 
            </ul>
          <% } else { %>
            <p><%= single[0].ingredients %></p>
          <% } %>
      </div>
  </div>

<!--footer section------------------------------------------------------------->
<%- include('partials/footer.ejs') %>
</body>
</html>
