<!DOCTYPE html>
<html>
  <head>
  <%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="/css/results.css">
</head>
  <body>
<!--Navigation & Home Page----------------------------------------------------->
    <header id="find">
      <%- include('partials/nav.ejs') %>
        <div class="black">
            <!--hero img section----------------------------------------------------------->
            <div class="content">
              <section class="inner">
              <h1 class="text-center">
                <span class="spc"><%= recipes.length %></span> Recipes Found!
              </h1>
            </section>
          </div>
      </div>
  </header>
<!-- queried recipes section----------------------------------------------------------->
  <div class="container results" id="recipe-results">
      <% for (var i=0; i < recipes.length; i++) { %>
        <div class="panel">
          <h1 id="abtUs"><%= recipes[i].recipe.name %></h1>  
          <p><%= recipes[i].recipe.description %></p>
          <a href='/singleRecipe/<%= recipes[i]._id %>'>
            <button class="button btn-2 text-center">Read the full recipe</button>
          </a>
        </div>
      <% } %>
  </div>

  <!--footer section------------------------------------------------------------->
  <%- include('partials/footer.ejs') %>
</body>
</html>