<!DOCTYPE html>
<html>
  <head>
  <%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="/css/results.css">

</head>
  <body>
<!--Navigation & Home Page----------------------------------------------------->
    <header id="find">
      <%- include('partials/nav.ejs') %>
        <div class="black">
            <!--hero img section----------------------------------------------------------->
            <div class="content">
              <section class="inner">
              <h1>Our <span class="spc">awesome</span> collection of recipes!</h1>
              <input class="form-control" id="searchItem" type="text" placeholder="Search our recipe database">
              <button class="button">Find Recipe</button>
              <br>
            </section>
          </div>
      </div>
  </header>
<!-- queried recipes section----------------------------------------------------------->
  <div class="container results" id="recipe-results">
      <% recipes.forEach( (recipe) => { %>
        <div class="panel">
          <h1 id="abtUs"><%= recipe.title %></h1>  
          <p><%= recipe.summary %></p>
          <a href='/singleRecipe/<%= recipe.id %>'>
            <button class="button btn-2 text-center">Read the full recipe</button>
          </a>
        </div>
        <% }) 
      %>
  </div>

  <!--footer section------------------------------------------------------------->
  <%- include('partials/footer.ejs') %>
</body>
</html>